*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:black;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
}

main {
    position: absolute;
  }

#logo{
    color:white;
    font-family: 'Abril Fatface', cursive;
}

.nav-header{
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    z-index:2;
    position: relative;
}

.line1,
.line2{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    pointer-events: none;
}

.slide{
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: black;
}

.hero-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
}

.hero-img{
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mountain-span{
    color: #bc002d;
}

.festival-span{
    color: rgb(117, 89, 39);
}

.fashion-span{
    color: #bc002d;
}

.hero-desc h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
}

.hero-desc p{
    font-family: 'Open Sans', sans-serif;
    padding: 3rem 0rem;
    font-size: 1.5rem;
    color: white;
}

.explore{
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
}

.nav-bar{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger{
    cursor: pointer;
}

.nav-links{
    font-size: 4rem;
    flex-basis: 30rem;
}

.nav-text{
    padding: 3rem 0rem;
}

.contact{
    flex-basis: 30rem;
}
.contact h2{
    font-size: 3rem;
    padding: 3rem 0rem;
}

.contact p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.reveal-img,
.reveal-text{
    position: absolute;
    width: 100%;
    height: 150%;
    background: black;
    left: 0;
    top: -15%;

}

.cursor{
    width: 2rem;
    height: 2rem;
    background: #bc002d;
    border: none;
    border-radius: 50%;
    position: absolute;
    transform: translate(-40%, -40%);
    pointer-events: none;
    opacity: 1;
    transition-property: background, transform;
    transform-origin: 75% 75%;
    z-index:7;
}

.cursor.hover-active{
    opacity: 0.5;
}

.cursor.explore-active {
    opacity: 0.5;
}

.title{
    position: relative;
    overflow: hidden;
}

.title-swipe{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    mix-blend-mode: darken;
    transform: translateY(100%);
}

.t-swipe1{
    background:  #bc002d;
}

.t-swipe2{
    background: rgb(117, 89, 39);
}

.t-swipe3{
    background:  #bc002d;
}

/* stops spacer from covering content */
.scrollmagic-pin-spacer{
    position: static !important;
}

body.hide {
    overflow: hidden;
  }

  /* slide pages */
  .fashion1,
  .fashion2,
  .fashion3,
  .mountain1,
  .mountain2,
  .mountain3,
  .festival1,
  .festival2,
  .festival3
  {
      min-height: 90vh;
      display:flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin: auto;
      color: white;
      margin-top: 5rem;
      flex-wrap: wrap;
      position: relative;
  }
  .fashion-img,
  .mountain-img,
  .festival-img{
      height: 70vh;
      flex-basis: 30rem;
  }

  .fashion-text,
  .mountain-text,
  .festival-text{
      flex: 1;
      position: relative;
      flex-basis: 25rem;
  }

  .fashion-img img,
  .mountain-img img,
  .festival-img img
  {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .fashion-text h1,
  .mountain-text h1,
  .festival-text h1{
    font-family: 'Abril Fatface', cursive;
      font-size: 6rem;
      padding: 5rem 0rem;
  }

  .fashion1 h1,
  .festival1 h1,
  .mountain1 h1{
      color: #bc002d;
  }

  .fashion2 h1,
  .festival2 h1,
  .mountain2 h1{
      color: rgb(117, 89, 39);
  }

  .fashion3 h1,
  .festival3 h1,
  .mountain3 h1{
      color: #bc002d;
  }

  .fashion-text p,
  .mountain-text p,
  .festival-text p{
      font-size: 2rem;
      padding: 2rem 2rem 0rem 0rem;
      margin-bottom: 10rem;
  }

  .swipe{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(-100%);
  }

  .swipe1{
      background: #bc002d;
      z-index: 5;
  }

  .swipe2{
    background: white;
    z-index:4;
}

.swipe3{
    background: #bc002d;
    z-index: 3;
}


@media screen and (max-width: 1024px) {
    main {
      width: 100%;
      margin: 0;
    }
    .slide {
      display: block;
      width: 100%;
      text-align: center;
    }
    .hero-desc {
      padding: 0;
    }
    .hero-img {
      padding-top: 4rem;
    }
    .hero-desc h2 {
      font-size: 2rem;
      padding: 1rem 0rem;
    }
    .hero-desc p {
      padding: 1rem 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }
    .explore {
      width: 60%;
      margin: auto;
    }
    .detail-slide {
      width: 100%;
      text-align: center;
    }
    .fashion-text p {
      margin-bottom: 5rem;
      padding: 0;
    }
    .fashion-text h1 {
      margin: 2rem 0rem;
    }
    .festival-text p {
        margin-bottom: 5rem;
        padding: 0;
      }
    .festival-text h1 {
        margin: 2rem 0rem;
      }
    .mountain-text p {
        margin-bottom: 5rem;
        padding: 0;
      }
    .mountain-text h1 {
        margin: 2rem 0rem;
      }
    .nav-bar {
      display: block;
    }
    .nav-links {
        margin-top: 3.7rem;
      font-size: 2rem;
      text-align: center;
    }
    .nav-text{
     padding: 2rem;
    }
    .contact h2 {
      font-size: 3rem;
      text-align: center;
      padding-bottom: 0;
    }
    .contact p {
      font-size: 1.2rem;
      padding: 1rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 1500px) {
    /* .hero-desc h2 {
        font-size: 3rem;
        padding: 1rem 0rem;
      }
      .hero-desc p {
        padding: 1rem 1rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
      } */
    .hero-img {
      height: 50vh;
    }
    .fashion-text h1 {
      font-size: 2rem;
      padding: 1rem 0rem;
    }
    .fashion-text p {
      font-size: 1.2rem;
    }
    .fashion-img img {
      height: 50vh;
      object-position: top;
    }
    .mountain-text h1 {
        font-size: 2rem;
        padding: 1rem 0rem;
      }
      .mountain-text p {
        font-size: 1.2rem;
      }
      .mountain-img img {
        height: 50vh;
        object-position: top;
      }
      .festival-text h1 {
        font-size: 2rem;
        padding: 1rem 0rem;
      }
      .festival-text p {
        font-size: 1.2rem;
      }
      .festival-img img {
        height: 50vh;
        object-position: top;
      }
  }